*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.proeqti{
    background-color: rgb(10, 23, 199);
    height: 250px;
    color: #FFFFFF;
    padding: 50px;
    padding-left: 100px;
    z-index: 0;
}
input{
    width: 10px
}
.wert{
    position: absolute;
    top: 70px;
    right: 200px; 
}
.wert1{
    position: absolute;
    top: 70px;
    right: 175px;
    opacity: 30%;
}
.wert2{
    position: absolute;
    top: 70px;
    right: 150px;
    opacity: 30%;
}
img{
}
.house{
    width: 300px;
    margin-top: -120px; 
    margin-left: 200px;
    
}
.house1{
    width: 350px;
    margin-top: -120px; 
}
.house2{
    width: 300px;
    margin-top: -120px; 
}
.pirveli{
    width: 230px;
    margin-left: 240px;
    margin-top: -85px;
}
.meore{
    width: 230px;
    margin-left: 580px;
    margin-top: -100px;
}
.mesame{
    width: 230px;
    margin-left: 905px;
    margin-top: -25px;
}
.sxva{
    text-align: right;
    margin-top: 100px;
    margin-right: 200px;
}
.partniori{
    margin-top: 230px;
    margin-left: 200px;
}
.text{
    width: 470px;
    margin-top: 60px;
    margin-left: 200px;
}
.slide{
    margin-left: 1100px;
}
.building{
    width: 130px;
}
.preci{
    width: 130px;
}
.ascent{
    width: 130px;
}
.lorem{
    width: 130px;
}
.logo{
    width: 130px;
}
.cat{
    width: 130px;
}
.phili{
    width: 130px;
}
.bosch{
    width: 130px; 
}
.one{
    width: 130px; 
}
